.post {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 10px;
    border: .1px solid var(--gray);
    border-top: none;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.no-post {
    text-align: center;
    padding-top: 35px;
}

.no-post a {
    color: var(--blue);
    font-weight: 800
}

.post:hover {
    background-color: var(--darker-gray);
}

.post p {
    padding: 5px 10px;
    text-align: end;
    width: 100%;
}

.post i {
    color: var(--light-gray);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    pointer-events: pointer;
}

.avatar:hover {
    filter: opacity(85%);
    color: var(--light-blue)
}

.text-content {
    margin-top: 10px;
    margin-left: 20px;
}

.to-repost {
    color: var(--light-gray);
    font-style: italic;
}

.to-repost:hover {
    color: var(--blue);
}

.user-link:hover {
    color: var(--light-blue);
}

.repost {
    display: flex;
    flex-direction: column;
}