.post {
    display: flex;
    max-width: 600px;
    padding: 10px;
    border: .1px solid var(--gray);
    transition: .2s;
    justify-content: space-between;
    align-items: center;
}

.post:hover {
    background-color: var(--darker-gray);
}

.post p {
    padding: 5px 10px;
    text-align: start;
    width: 100%;
}

/* .post h2 {
    display: inline;
} */

.post span {
    margin: 0 5px;
    color: var(--light-gray);
    font-weight: 800;
}

.post i {
    color: var(--light-gray);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    pointer-events: pointer;
}

.avatar:hover {
    filter: opacity(85%);
    color: var(--light-blue)
}

.text-content {
    margin-top: 10px;
    margin-left: 20px;
}

.to-repost {
    color: var(--light-gray);
    font-style: italic;
}

.to-repost:hover {
    color: var(--blue);
}

.user-link:hover {
    color: var(--light-blue);
}

.repost {
    display: flex;
    flex-direction: column;
}