@media only screen and (min-width: 600px) {
    .post {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        padding: 10px;
        border: .1px solid var(--gray);
        border-top: none;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }
}

@media only screen and (max-width: 600px) {

    .post {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        padding: 10px;
        border: .1px solid var(--gray);
        border-top: none;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
    }
}

.no-post {
    text-align: center;
    padding-top: 35px;
}

.no-post a {
    color: var(--blue);
    font-weight: 800
}

.post:hover {
    background-color: var(--darker-gray);
    transition: .2s;
}

.post p {
    padding: 5px 10px;
    text-align: end;
    width: 100%;
}

.post i {
    color: var(--light-gray);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    pointer-events: pointer;
    color: var(--blacker);
}

.avatar:hover {
    filter: opacity(85%);
    transition: .2s;
}

.text-content {
    margin-top: 10px;
    margin-left: 20px;
}

.to-repost {
    color: var(--light-gray);
    font-style: italic;
}

.to-repost:hover {
    color: var(--blue);
    transition: .2s;
}

.user-link:hover {
    color: var(--light-blue);
    transition: .2s;
}

.repost {
    display: flex;
    flex-direction: column;
}

.icon {
    filter: invert(87%) sepia(11%) saturate(250%) hue-rotate(169deg) brightness(93%) contrast(99%);
}

.icon:hover {
    filter: invert(51%) sepia(81%) saturate(6225%) hue-rotate(197deg) brightness(103%) contrast(106%);
    transition: .2s;
}

.like {
    filter: invert(87%) sepia(11%) saturate(250%) hue-rotate(169deg) brightness(93%) contrast(99%);
    border-radius: 100%;
}

.like:hover {
    filter: invert(28%) sepia(100%) saturate(6726%) hue-rotate(345deg) brightness(91%) contrast(124%);
}

.liked {
    filter: invert(28%) sepia(100%) saturate(6726%) hue-rotate(345deg) brightness(91%) contrast(124%);
}

.liked:hover {
    filter: invert(15%) sepia(45%) saturate(4934%) hue-rotate(339deg) brightness(88%) contrast(122%);
}